{% extends "template_page.html" %}

{% block content %}

<!--about_me-->
<section class="about_me" id="about_me">
  <div class="container">
    <div class="heading">
      <h2>Sobre mí</h2>
      <h3>Aprendiz de la programación y futuro desarrollador web.<br>
    "Hagas lo que hagas, hazlo con pasión ".</h3>
    </div>
  </div>
<br><br>
  <div class="container">
    <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
      <div class="text-center">
        <div class="hi-icon-wrap hi-icon-effect">
          <h4>DESARROLLO WEB </h4>
          <h5>ENERO 2018 - ABRIL 2018</h5>
          <i class="fa fa-laptop"></i>
          <p>Curso intensivo de varios meses impartido por Smart Ninja y por grandes profesionales del sector</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s">
      <div class="text-center">
        <div class="hi-icon-wrap hi-icon-effect">
          <h4>SQL Y BASE DE DATOS </h4>
          <h5>FEBBRERO 2018 - MARZO 2018</h5>
          <i class="fa fa-laptop"></i>
          <p>Curso intensivo impartido por Smart Ninja y por grandes profesionales del sector</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.9s">
      <div class="text-center">
        <div class="hi-icon-wrap hi-icon-effect">
          <h4>DESARROLLO WEB AVANZADO</h4>
          <h5>MAYO 2018 - JUNIO 2018</h5>
          <i class="fa fa-book"></i>
          <p>Próximamente</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <blockquote>Etiam fringilla augue sit amet lorem dignissim congue. Aliquam lacinia sapien ex, vel congue justo accumsan ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam porta diam a neque tempus varius. Integer lacus nunc, tristique nec ante vel, finibus cursus felis" <cite>Enrique Peláez Jiménez, SysAdmin y Desarrollador<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></cite>            </blockquote>
      <blockquote>Integer pellentesque non turpis ac accumsan. Maecenas massa dolor, molestie nec faucibus ut, mattis quis eros. Pellentesque quis purus massa. Proin ullamcorper augue ac urna elementum commodo. Curabitur in dui in lorem scelerisque tempus sit amet quis sapien. Donec hendrerit augue in pellentesque dapibus. <cite>Gloria Passarello, Ingeniera y data scientist at Randbee Consuntants<br/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></cite>            </blockquote>
    </div>
  </div>
</section>


{% endblock %}
