<!DOCTYPE html>
<html>
    <head lang="en">
            <meta charset="UTF-8">
            <title>A single message</title>
    </head>

    <body>
            <h1>Message info</h1>

            <p>ID: {{ message.key.id() }}</p>
            <p>Fecha: {{ message.created }}</p>
            <p>Nombre: {{ message.message }}</p>
            <p>¿Realizada?: {{ message.email }}</p>
            <p>Descripcion: {{ message.nombre }}</p>

            <p><a href="/message/{{ message.key.id() }}/edit"> Editar mensaje </a></p>
            <p><a href="/message/{{ message.key.id() }}/delete"> Eliminar mensaje </a></p>
    </body>
</html>
