<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Boogle Email</title>

    <link rel="stylesheet" href="/assets/css/styleG.css">

    <meta name="description" content="Boogle">
    <meta name="keywords" content="Newgoogle, HTML, Smartninja, Search">
    <meta name="author" content="Alejandro C.">



</head>
<body>
  <h1>Hello, SmartNinja!</h1>




    <nav>
      <img src="../assets/img/iconboogle.gif" alt="Boogle">
    </nav>

    <div id="titulo">

     <p>Inicia sesión en Boogle. Lo mejor a un clic.</p>
    </div>
    <div class="log">
      <h1>Inicia sesión con tu cuenta Boogle</h1>
    </div>

    <main>


      <button onclick="location.href='{{ login_url }}'">Iniciar sesión</button>
    </main>

<div>
  <p>Consulta el tiempo en Málaga <a href="/weather">aquí</a></p>
</body>
</html>
