{% extends "template_page.html" %}

{% block content %}

<!--blog-->
<section class="blog" id="blog">
  <div class="container">
    <div class="heading text-center">
      <h2>Próximamente nuestro blog</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem, cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula </h3>
    </div>
  </div>

  <div class="container">
    <div class="row">


    <div>
        <img class="center-block" src="../assets/img/team/6.jpg" >
      </div>
    </div>
  </div>


</section>


{% endblock %}
