<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <form method="post">
        <p><input name="numero_primero" type="number" required></p>
        <p><select name="operaciones">
          <option value="milla">Pasar de Km a milla</option>
          <option value="km">Pasar de milla a Km</option>

        </select></p>

        <button type="submit">Calcular</button>
    </form>
</body>
</html>
