{% block content %}

<div div class="navbar-wrapper stuckMenu" style="top: 0px; position: relative;">
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navwrapper">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navArea">
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="menuItem active"><a href="/">Inicio</a></li>
                  <li class="menuItem"><a href="about_me">sobre mí</a></li>
                  <li class="menuItem"><a href="projects">Proyectos</a></li>
                  <li class="menuItem"><a href="contact">Contacto</a></li>
                  <li class="menuItem"><a href="blog">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
