{% extends "template_page.html" %}

{% block content %}

<!--proyectos-->
<section class="projects" id="projects">
  <div class="container">
    <div class="heading text-center">
      <h2>Proyectos</h2>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem, cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula </h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="papers text-center">
          <img src="../assets/img/team/1.jpg" alt=""><br/>
          <a href="https://prueba07032018.appspot.com/index.html"><b>Visitar website</b></a>
          <h4 class="">Lorem Ipsum</h4>
          <p>
            Pellentesque accumsan orci libero, eu pharetra sem pretium sit amet. Etiam pulvinar eleifend convallis. Aenean nisl ex, facilisis vel lectus sed, bibendum pharetra risus. Curabitur congue nunc nec molestie pretium. Suspendisse lacinia sapien in eros auctor dictum. Nunc tristique sit amet turpis sed volutpat. Aliquam eu tellus at urna tincidunt dapibus id lacinia enim. Vestibulum quis leo vel sem dignissim mollis. Quisque auctor interdum ipsum imperdiet congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="papers text-center">
          <img src="../assets/img/team/2.jpg" alt=""><br/>
          <a href="https://github.com/AlejandroCruzB/Homeworks"><b>Visitar GitHub</b></a>
          <h4 class="">Lorem Ipsum</h4>
          <p>
            Pellentesque accumsan orci libero, eu pharetra sem pretium sit amet. Etiam pulvinar eleifend convallis. Aenean nisl ex, facilisis vel lectus sed, bibendum pharetra risus. Curabitur congue nunc nec molestie pretium. Suspendisse lacinia sapien in eros auctor dictum. Nunc tristique sit amet turpis sed volutpat. Aliquam eu tellus at urna tincidunt dapibus id lacinia enim. Vestibulum quis leo vel sem dignissim mollis. Quisque auctor interdum ipsum imperdiet congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
